In [2]:
#loading libaries
from pandas import read_csv
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import pandas as pd

In [4]:
# Loading dataset
df = pd.read_csv ("iris.csv")

In [33]:
X=  df.iloc[: , :4]
X

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [34]:
y= df.iloc[:,-1:]

In [35]:
y

       variety
0       Setosa
1       Setosa
2       Setosa
3       Setosa
4       Setosa
..         ...
145  Virginica
146  Virginica
147  Virginica
148  Virginica
149  Virginica

[150 rows x 1 columns]

In [36]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.20)

In [43]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

model.fit(X_train ,y_train.values.ravel())

pred = model.predict(X_test)

In [44]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test , pred))

0.9

In [45]:
#pickle model
pd.to_pickle(model , "iris_model.pickle")

In [46]:
#unpickle model
model = pd.read_pickle('iris_model.pickle')

In [47]:
#Take input from user
sepal_length = float(input("Enter sepal_length: "))
sepal_width = float(input("Enter sepa_width: "))
petal_length = float(input("Enter petal_length: "))
petal_width = float(input("Enter petal_width: "))

Enter sepal_length: 1
Enter sepa_width: 1
Enter petal_length: 1
Enter petal_width: 1

In [48]:
result = model.predict([[sepal_length,sepal_width,petal_length,petal_width]])  # input must be 2D array
print(result)

['Versicolor']